//## For each of Bootstrap's buttons, define text, background and border color.
$main-color: #1a2a5b;
$body-text-color: #575962;
$white-color: #ffffff;
$black-color: #191919;
$transparent-bg : transparent;
$default-color : #282a3c;
$primary-color : $main-color;
$secondary-color : #d6d8d9;
$info-color : #36a3f7;
$success-color : #35cd3a;
$warning-color : #ffa534;
$danger-color : #f3545d;

// Font Weight
$font-weight-light : 300;
$font-weight-normal : 400;
$font-weight-bold : 600;
$font-weight-extrabold : 700;