.login {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right: 100px;
  }
.language {
    background-color: white;
    text-align: right;
}