.myinput-block {
  display: block;
  width: 100%;
  padding: 2%;
  border: 1px solid #e9ecef;
  border-radius: 2.5px;
}
.header-info-seednet
{
	margin:20px 0;
	padding:0 30px;
	display:-webkit-box;
	display:flex;
	-webkit-box-pack:justify;
	justify-content:space-between;
	flex-wrap:wrap;
	width:100%
}