.tooltip-link {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 34px;
  border-radius: 4px;

  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  text-align: center;
  margin: 5px;
}

.tooltip-link .ti-trash {
  padding-left: 3px;
}

.tooltip-link .tooltip-ti-trash,
.tooltip-link .tooltip-info-circle {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -30px;
}

.tooltip-link .tooltip-ti-trash::after,
.tooltip-link .tooltip-info-circle::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-link:hover .tooltip-ti-trash,
.tooltip-link:hover .tooltip-info-circle {
  visibility: visible;
}
.tooltip-link:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.ti-trash,
.anticon-info-circle {
  color: white;
}
